body{
    background-color:rgb(243, 185, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    

}

.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(166, 17, 166);
    width: 400px;
    height: 400px;
    padding: 35px;
    border-radius: 8px;
}

.login form{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.orkut{
    font-size: 45px;
    color: antiquewhite;
}

.login input{
    margin-top: 20px;
    background-color: rgb(242, 215, 242);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color: black;
    padding-left: 10px;
    font-size: 16px;
}

 
    
    .login ::placeholder{
        color: rgb(0, 0, 0);
        font-size: 16px;
    }

    button {
        display: block;
        background-color: violet;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 10px;
        border: 1px solid  rgb(172, 125, 172);
        border-radius: 8px;
        height: 40px;
    }

    p{
        color: rgb(52, 7, 52);
    }

    a{
        color: rgb(52, 7, 52);
        text-decoration: none;
        margin-left: 10px;
    }

    a :hover{
        color: blueviolet;
    }

    a :active{
        color: black;
    }